<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- define command some handler extensions -->
    <extension
	      point="org.eclipse.ui.handlers">
	   <handler
	         commandId="com.ensoftcorp.open.android.essentials.menus.applyPermissionMappingsCommand"
	         class="com.ensoftcorp.open.android.essentials.handlers.ApplyPermissionMappingsHandler">
	   </handler>
	</extension>
	
	<extension
	      point="org.eclipse.ui.handlers">
	   <handler
	         commandId="com.ensoftcorp.open.android.essentials.menus.openPermissionUsageViewCommand"
	         class="com.ensoftcorp.open.android.essentials.handlers.OpenPermissionUsageViewHandler">
	   </handler>
	</extension>
	
	<extension
	      point="org.eclipse.ui.handlers">
	   <handler
	         commandId="com.ensoftcorp.open.android.essentials.menus.editAndroidEssentialsPreferencesCommand"
	         class="com.ensoftcorp.open.android.essentials.handlers.AndroidEssentialsPreferencesHandler">
	   </handler>
	</extension>
	
	<!-- extend the Atlas Toolbox menu with a new submenu for purity analysis -->
	<extension
	      point="org.eclipse.ui.menus">
	   <menuContribution
	         locationURI="menu:com.ensoftcorp.open.commons.menus.toolbox?after=additions">
	      <menu
	            label="Android Essentials"
	            id="com.ensoftcorp.open.android.essentials.menus.androidEssentialsMenu">
	         <command
	               label="Apply Permission Mappings"
	               commandId="com.ensoftcorp.open.android.essentials.menus.applyPermissionMappingsCommand"
	               id="com.ensoftcorp.open.android.essentials.menus.applyPermissionMappingsCommandMenuItem">
	         </command>
	         <command
	               label="Open Permission Usage View"
	               commandId="com.ensoftcorp.open.android.essentials.menus.openPermissionUsageViewCommand"
	               id="com.ensoftcorp.open.android.essentials.menus.openPermissionUsageViewHandlerdMenuItem">
	         </command>
	         <separator name="com.bogus.separator1" visible="true" />
	         <command
	               label="Edit Preferences"
	               commandId="com.ensoftcorp.open.android.essentials.menus.editAndroidEssentialsPreferencesCommand"
	               id="com.ensoftcorp.open.android.essentials.menus.editAndroidEssentialsPreferencesCommandMenuItem">
	         </command>
	      </menu>
	   </menuContribution>
	</extension>
   
   <!-- create an initializer extension to initialize preferences -->
   <extension
      point="org.eclipse.equinox.preferences.preferences">
	   <initializer
	         class="com.ensoftcorp.open.android.essentials.preferences.AndroidEssentialsPreferences">
	   </initializer>
	</extension>
   
   <!-- create a preferences menu item for android essentials plugin -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ensoftcorp.open.android.essentials.ui.AndroidEssentialsPreferencesPage"
            id="com.ensoftcorp.open.android.essentials.ui.preferences"
            name="Android Essentials Toolbox">
      </page>
   </extension>

	<!-- extension for Android Permission Usage view -->
	<extension
         point="org.eclipse.ui.views">
      <view
            category="com.ensoftcorp.open.commons.views.categories.toolbox"
            class="com.ensoftcorp.open.android.essentials.ui.views.PermissionUsageView"
            icon="icons/permissions.gif"
            id="com.ensoftcorp.open.android.essentials.ui.views.PermissionUsageView"
            name="Android Permission Usage">
      </view>
   </extension>
   
</plugin>
